<div class="col-md-9" style="padding-right: 0px;">
    <div class="row">
        <div class="col-md-12" style="margin-top: -10px;">
            <ul class="navbar-nav float-right" style="padding-bottom: 8px">
                <li class="nav-item">
                    <a class="nav-link" style="padding-top:0px;" href="dashboard">Dashboard &nbsp;&nbsp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding-top:0px;" href="dashboard/transactions">Transactions &nbsp;&nbsp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding-top:0px;" href="dashboard/contact">Contact &nbsp;&nbsp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding-top:0px;" href="dashboard/help">Help &nbsp;&nbsp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding-top:0px;" href="user/logout">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>